  <app-layout pageTitle="Личный кабинет преподавателя" userRole="teacher">
    <div class="dashboard-container">
      <div nz-row nzJustify="center">
        <h1 nz-typography nz-col nzSpan="24" style="text-align: center;">
          Добро пожаловать, {{ userName }}!
        </h1>
      </div>
      <div nz-row nzJustify="center">
        <h1 nz-typography nz-col nzSpan="24" style="text-align: center;">
          Техника коммуникации и основы командообразования
        </h1>
      </div>
      <nz-divider></nz-divider>
      <div nz-row>
        <nz-col nzSpan="24">
          <h3 nz-typography>Средний балл всех студентов: {{ averageScore || 0 }}</h3>
          <h3 nz-typography>Ваши группы: {{ groups || 'Нет групп' }}</h3>
          <h3 nz-typography>Всего студентов: {{ totalStudents || 0 }}</h3>
        </nz-col>
      </div>
    </div>
    

    <div style="background: #ECECEC; padding:30px;">
      <nz-card style="width: 300px;" nzTitle="Группа" [nzBodyStyle]="{ padding: '24px' }">
        <div style="display: flex; flex-direction: column; margin-left: -8px;">
          <p class="m-8">Количество студентов: </p>
          <p style="">Занятий пройдено: </p>
          <p style="margin: 8px 0 8px 8px;">Занятий осталось: </p>
          
          <div style="margin: 0">
            <a nz-button nzType="link" nzSize="small" style="padding-left: 0;">
              <span nz-icon nzType="more"></span> Открыть
            </a>
          </div>
        </div>
      </nz-card>
    </div>


    <div nz-row nzJustify="center">
      <nz-pagination [nzPageIndex]="2" [nzTotal]="50" nzSimple></nz-pagination>
    </div>
  </app-layout>